.designer{
    display: block;
    position: absolute;
    width: 89%;
}

.editor{
    left: 80%;
    display: block;
    position: absolute;
    width: 160px;
}

.image{
    position: absolute;
}

button{
    margin: 5px;
}
