<div class="designer">
  <ul *ngFor="let item of data">
      <img class="image" src={{item.image}} alt="element"  [style.height.px]="item.height" 
      [style.width.px]="item.width" [style.position]= "absolute" [style.left.px]="item.position" [style.top.px]="item.top" [style.border]="getBorder(item.id)" 
      (click)="onElementClick(item.id)">
  </ul>
</div>

<div class="editor">
  <div>
    <button (click)="addButtonClick()">
      + Add
    </button>
    <button (click)="exportClick()">
      Export
    </button>
  </div>


  <editor *ngIf="selectedItem" 
    (notify)='onEditOff($event)' 
    [height]='selectedItem.height'
    [width]='selectedItem.width'
    [position]='selectedItem.position'
    [top]='selectedItem.top'
    [id]='selectedItem.id'
    [image]='selectedItem.image'>
  </editor>

  <editor *ngIf="addMode"
  (notify)='onEditOff($event)' >
  </editor>
</div>
